/* Custom styles for centering pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; Add space between the table and pagination */
  }
  
  /* Retain the previous pagination styles */
  .custom-pagination .page-link {
    color: #19105B;
  }
  
  .custom-pagination .page-item.active .page-link {
    background-color: #19105B;
    border-color: #19105B;
    color: white;
  }
  
  .custom-pagination .page-link:hover {
    background-color: rgba(25, 16, 91, 0.1);
    color: #19105B;
  }
  
  .custom-pagination .page-link:focus {
    box-shadow: none;
  }
  
  .custom-pagination .page-link:disabled {
    color: #ccc;
  }
  

  