.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Full viewport height */
    width: 250px; /* Set a fixed width */
    /* background: linear-gradient(135deg, #19105B, #ff6196); */
    background-color: #19105B;
    z-index: 1000; /* Ensure it's above other elements */
    padding-top: 10px;
}

.content-container {
    margin-left: 250px; /* Ensure the content starts after the sidebar */
    padding: 20px;
}

.nav-link {
    color: #fff !important; /* Use any color you want */
}

.custom-popup-card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border: none;
}

.custom-popup-card {
    z-index: 3; 
    width: 400px;
    color: #1f2937;
    background-color: #fff;
    padding: 20px; 
    border-radius: 20px; 
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card-popup-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-popup-card-title .pi-times {
    cursor: pointer;
}

.li-style {
    transition: all 0.2;
}

.li-style:hover {
    text-decoration: underline;
    text-decoration-color: #ff6196;
    text-underline-offset: 8px;
}